<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Form</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/assets/css/login.css">
        <script src="https://kit.fontawesome.com/f6cc3a16c6.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="title_container">
            <img src="/assets/img/RecycleIcon.png" alt="" class="image">
            <h1>UWC 2.0</h1>
        </div>
        
        
        <div class="container">
            <img src="/assets/img/green_user_icon.png" alt="" class="image user_icon">
            <form class="form" id="login">
                <h1 class="form_title">LOGIN</h1>
                <div class="message_error"></div>
                <div class="form_input_group">
                    <input type="text" class="form_input" autofocus placeholder="Username">
                    <span class="icon">
                        <i class="fa-solid fa-user fa-2x"></i>
                    </span>
                </div>
                <div class="form_input_group">
                    <input type="password" class="form_input" autofocus placeholder="Password">
                    <span class="icon">
                        <i class="fa-solid fa-lock fa-2x"></i>
                    </span>
                </div>
                
                <label class="check_container">
                    Remember me?
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
                <p class="forgot_account">
                    <a href="#" class="form_link">Forgot your account?</a>
                </p>

                <!-- link main view here -->
                <button class="form_button" type="submit">Login</button>
                <!--  -->
                
            </form>
        </div>
    </body>
</html>