<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Index page</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css"
		/>
		<link rel="stylesheet" href="assets/style/style.css" />
		<link rel="stylesheet" href="assets/style/profile_style.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Kolker+Brush&family=Merriweather&family=Montserrat&family=Sacramento&display=swap"
			rel="stylesheet"
		/>
	</head>

	<body>
		<section id="menu">
			<div class="logo">
				<img src="assets/img/logo.png" />
				<h2>UWC2.0</h2>
			</div>
			<div class="items">
				<a href="index.html">
					<li>
						<i class="fas fa-chart-pie"></i>
						<span href="#">Dashboard</span>
					</li>
				</a>
				<a href="profile.html">
					<li>
						<i class="fa-solid fa-person-digging"></i>
						<span href="#">Employees</span>
					</li>
				</a>
				<a href="#">
					<li>
						<i class="fa-solid fa-truck"></i>
						<span href="#">Vehicles</span>
					</li>
				</a>
				<a href="#">
					<li>
						<i class="fa-solid fa-location-pin"></i>
						<span href="#">Checkpoints</span>
					</li>
				</a>
				<a href="#">
					<li>
						<i class="fa-solid fa-map-location-dot"></i>
						<span href="#">Map</span>
					</li>
				</a>
				<a href="#">
					<li>
						<i class="fa-solid fa-chart-line"></i>
						<span href="#">Statistics</span>
					</li>
				</a>
			</div>
		</section>
		<section id="interface">
			<div class="navbar">
				<div class="n1">
					<div class="search">
						<i class="fas fa-search"></i>
						<input type="text" placeholder="Search" />
					</div>
				</div>
				<div class="profile">
					<i class="fas fa-bell"></i>
					<img src="assets/img/logo.png" alt="" />
				</div>
			</div>

			<h3 class="i-name">
				<a href="">Nhân viên</a>
				>
				<a href="">Nguyễn Văn An</a>
			</h3>

			<div class="container">
				<div class="leftpane">
					<h1 class="personal_info">Thông tin nhân viên</h1>
					<div class="information">
						<div class="info">
							<h3 class="inf_1">Công việc:</h3>
							<h3 class="inf_2">Tài xế xe rác</h3>
						</div>
						<div class="info">
							<h3 class="inf_1">Quản lý:</h3>
							<h3 class="inf_2">Bruno Fernandes</h3>
						</div>
						<div class="info">
							<h3 class="inf_1">Mã số nhân viên:</h3>
							<h3 class="inf_2">COL_01</h3>
						</div>
						<div class="info">
							<h3 class="inf_1">Mã số xe rác:</h3>
							<h3 class="inf_2">TRK_01</h3>
						</div>
						<div class="info">
							<h3 class="inf_1">Trạng thái:</h3>
							<h3 class="inf_2">Chưa giao việc</h3>
						</div>
					</div>
					<h1 class="personal_info">Quá trình làm việc</h1>
					<div class="information">
						<div class="info">
							<h3 class="inf_1">Số lần thu rác:</h3>
							<h3 class="inf_2">400</h3>
						</div>
						<div class="info">
							<h3 class="inf_1">Giải thưởng:</h3>
							<h3 class="inf_2">4</h3>
						</div>
						<div class="info">
							<h3 class="inf_1">Thời gian làm:</h3>
							<h3 class="inf_2">1 Năm 7 tháng</h3>
						</div>
					</div>
				</div>
				<div class="middlepane">
					<img
						class="employee_avatar"
						src="assets/img/eimg5.jpg"
						alt="avatar of employee"
					/>
					<hr />
					<h1 class="collector_name">Nguyễn Văn An</h1>
					<h3 class="introduction">Nhân viên thu gom rác</h3>
					<hr />
					<a class="btn" href="">Schedule</a>
					<a class="btn" href="">Route</a>
				</div>
				<div class="rightpane">
					<h1 class="personal_info">Thông tin cá nhân</h1>
					<div class="information">
						<div class="info">
							<h3 class="inf_1">Họ và tên:</h3>
							<h3 class="inf_2">Nguyễn Văn An</h3>
						</div>
						<div class="info">
							<h3 class="inf_1">Ngày sinh:</h3>
							<h3 class="inf_2">24-09-1992</h3>
						</div>
						<div class="info">
							<h3 class="inf_1">Giới tính:</h3>
							<h3 class="inf_2">Nam</h3>
						</div>
					</div>
					<h1 class="personal_info">Thông tin liên lạc</h1>
					<div class="information">
						<div class="info">
							<h3 class="inf_1">Email:</h3>
							<h3 class="inf_2">lil.kauffman@gmail.com</h3>
						</div>
						<div class="info">
							<h3 class="inf_1">Số điện thoại:</h3>
							<h3 class="inf_2">+447975777666</h3>
						</div>
						<div class="info">
							<h3 class="inf_1">Địa chỉ:</h3>
							<h3 class="inf_2">Quận 3, Thành phố Thanh Hoá, Tỉnh Thanh Hoá</h3>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
