/* NEW */
#interface #linkOpenChat,
#interface #linkCloseChat{
    position: fixed;
    right: 5%;
    bottom: 6%;
    padding: 20px;
    background: radial-gradient(rgb(215, 215, 215), rgba(255,0,0,0) 70%);
    border-radius: 50%;
}

#interface .chat,
#interface .chat_area{
    display: block;
    width: 20%;
    height: 70%;

    position: fixed;
    right: 3%;
    bottom: 17%;

    background: var(--main-element-background);
    border-radius: 5px;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
}

#interface .chat .chat_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    margin: 8px 16px;
    margin-bottom: 24px;
}

#interface .chat .box_chat{
    margin: 16px 16px;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--main-text-primary-color);
}

#interface .chat .box_chat p{
    font-size: 1rem;
}

#interface .chat .box_chat img{
    width: 20%;
    height: 20%;
    border-radius: 50%;
    margin-right: 10px;
}

#interface .chat .box_chat:hover{
    background: #e8e8e8;
    padding: 0% 2%;
    border-radius: 10px;
}
#interface .hidden {
    display: none;
}

#interface .chat_area .chat_area_title{
    height: 15%;
    padding: 8px 16px;
    border-bottom: 2px solid var(--main-text-secondary-color);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#interface .chat_area .chat_area_title img{
    width: 20%;
    height: auto;
    border-radius: 50%;
}

#interface .chat_area .main_chat_area{
    position: relative;
    height: 70%;
    text-align: center;

    border-bottom: 2px solid var(--main-text-secondary-color);
}

#interface .chat_area .main_chat_area .bottom{
    position: absolute;
    width: 100%;
    height: fit-content;
    margin-bottom: 1rem;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
}

#interface .chat_area .main_chat_area .bottom div{
    float: right;
    text-align: end;
    margin-top: 0.5rem;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    align-items: center;
    width: 70%; height:fit-content; background: rgb(98, 255, 98); border-radius: 10px;
}

#interface .chat_area .input_chat{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.5rem 1rem;
}

#interface .chat_area .input_chat input{
    width: 80%;
    height: 60%;
    padding: 0 1rem;
    border-radius: 10px;
    border: 2px solid var(--main-text-primary-color);
}

/* NEW END */