body,
html {
	width: 100%;
	height: 100%;
	margin: 0;
}

hr {
	position: relative;
	border-style: dotted none none;
	border-color: #b2b2b2;
	border-width: 5px;
	width: 10%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

a {
	color: #11999e;
	font-family: "Montserrat", sans-serif;
	margin: 10px 20px;
	text-decoration: none;
}

a:hover {
	color: #01f2a0;
}

.collector_name {
	color: #11999e;
	font-size: x-large;
}

.introduction {
	color: #11999e;
	font-size: x-large;
}

.container {
	width: 100%;
	height: 100%;
	line-height: 2;
	font-family: "Montserrat", sans-serif;
}

.leftpane {
	margin-top: 5%;
	margin-left: 30px;
	width: 30%;
	height: 70%;
	position: relative;
	float: left;
	color: #f4f6fc;
	border-collapse: collapse;
	border-radius: 8%;
	background: #11999e;
	background-image: -webkit-linear-gradient(top, #11999e, #01f2a0);
	background-image: -moz-linear-gradient(top, #11999e, #01f2a0);
	background-image: -ms-linear-gradient(top, #11999e, #01f2a0);
	background-image: -o-linear-gradient(top, #11999e, #01f2a0);
	background-image: linear-gradient(to bottom, #11999e, #01f2a0);
	text-decoration: none;
}

.middlepane {
	margin-top: 5%;
	position: relative;
	width: 30%;
	height: 100%;
	margin-left: 30px;
	float: left;
	background-color: #f4f6fc;
	border-collapse: collapse;
	text-align: center;
}

.rightpane {
	margin-right: 30px;
	margin-top: 5%;
	width: 30%;
	height: 70%;
	position: relative;
	float: right;
	color: #f4f6fc;
	border-collapse: collapse;
	border-radius: 8%;
	background: #11999e;
	background-image: -webkit-linear-gradient(top, #11999e, #01f2a0);
	background-image: -moz-linear-gradient(top, #11999e, #01f2a0);
	background-image: -ms-linear-gradient(top, #11999e, #01f2a0);
	background-image: -o-linear-gradient(top, #11999e, #01f2a0);
	background-image: linear-gradient(to bottom, #11999e, #01f2a0);
	text-decoration: none;
}

.employee_avatar {
	margin-top: 5rem;
	margin-bottom: 5rem;
	position: relative;
	border-radius: 50%;
	height: 30%;
	width: 60%;
	background-color: #01dbf0;
}

.personal_info {
	text-align: center;
	text-decoration: underline;
	margin-top: 5%;
}

.info {
	position: relative;
	display: inline-block;
	width: 100%;
	text-align: center;
}

.inf_1 {
	margin-top: 5%;
	margin-left: 5%;
	display: inline-block;
	text-align: left;
	margin-left: 5%;
	width: 24%;
}

.inf_2 {
	display: inline-block;
	text-align: left;
	width: 45%;
	margin-left: 20%;
}

.btn {
	-webkit-border-radius: 8;
	-moz-border-radius: 8;
	border-radius: 8px;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	background: #11999e;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.btn:hover {
	background: #11999e;
	background-image: -webkit-linear-gradient(top, #11999e, #01f2a0);
	background-image: -moz-linear-gradient(top, #11999e, #01f2a0);
	background-image: -ms-linear-gradient(top, #11999e, #01f2a0);
	background-image: -o-linear-gradient(top, #11999e, #01f2a0);
	background-image: linear-gradient(to bottom, #11999e, #01f2a0);
	text-decoration: none;
}
