<a href="" id="linkOpenChat">
    <i class="fa-regular fa-comments fa-2x"></i>
</a>
<a href="" id="linkCloseChat" class="hidden">
    <i class="fa-regular fa-comments fa-2x"></i>
</a>

<div class="chat hidden">
    <div class="chat_title">
        <h3>Chat</h3>
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>

    <a href="" class="box_chat">
        <img src="assets/img/logo.png" alt="">
        <div>
            <h4>Nguyen Van B</h4>
            <p>abc</p>
        </div>
    </a>
    <a href="" class="box_chat">
        <img src="assets/img/logo.png" alt="">
        <div>
            <h4>Nguyen Van C</h4>
            <p>abc</p>
        </div>
    </a>
    <a href="" class="box_chat">
        <img src="assets/img/logo.png" alt="">
        <div>
            <h4>Nguyen Van A</h4>
            <p>abc</p>
        </div>
    </a>
</div>

<div class="chat_area hidden">

    <div class="chat_area_title">
        <img src="assets/img/logo.png" alt="" class="image_display">
        <h3>Nguyen Van B</h3>
        <a href="" id="linkCloseChatArea">
            <i class="fa-solid fa-xmark fa-2x"></i>
        </a>
    </div>

    <div class="main_chat_area">
        <div class="bottom">
            <h4>Today 4:00pm</h4>
            <div>gag</div>
        </div>
    </div>

    <div class="input_chat">
            <input type="text" autofocus placeholder="Enter message here">
            <i class="fa-solid fa-paper-plane fa-2x"></i>
    </div>

</div>