<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/map.css">
    <link rel="stylesheet" href="/assets/css/chat_style.css">
    <!-- <link rel="stylesheet" href="/assets/css/login.css"> -->
    <%- page.vehicle === 1 ? '<link rel="stylesheet" href="/assets/css/vehicle.css" />' : '<link rel="stylesheet" href="/assets/css/employee.css" />' %>
    <link rel="stylesheet" href="/assets/css/profile_style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Kolker+Brush&family=Merriweather&family=Montserrat&family=Sacramento&display=swap"
        rel="stylesheet" />
    <link href="/assets/css/flat.css" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/webix.css">
</head>