<div class="navbar">
    <div class="n1">
        <div class="search">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Search">
        </div>
    </div>
    <div class="profile">
        <i class="fas fa-bell"></i>
        <img src="/assets/img/logo.png" alt="">
    </div>
</div>